.nav_bar{
    background-color:#fff;
    padding: 10px;
    display: flex;
    gap: 10px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0px;
    z-index: 1;
}
.logo_img{
    flex: 0.2;
    object-fit: contain;
    /* height: 50px; */
}
.nav_content{
    flex: 1;
    display: flex ;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
.downArrow{
    position: relative;
    top: 4px;
}

@media (max-width:1080px){
    .nav_bar{
        flex-direction: column;
        gap: unset;      
    }

}